/*ini selector tag*/
p{
    color: chartreuse;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}
body{
    background-color: rgb(196, 126, 21);
    background-image: url('img/foto1.jpeg');
    background-repeat: no-repeat;
}

/* grouping css */
fieldset,legend{
    border: pink 5px;
    border-radius: 30%px;
}
legend{
    padding: 10px;
    font-weight: bold;
    font-size:14pt ;
}
